In [8]:
import pandas as pd
maintenance_failure = pd.read_csv("/home/matiasconde/Documents/repos/car_failure_prediction/maintenance_failure.csv")
maintenance_part = pd.read_csv("/home/matiasconde/Documents/repos/car_failure_prediction/maintenance_part_consumption.csv")
usage = pd.read_csv("/home/matiasconde/Documents/repos/car_failure_prediction/usage_data.csv")

In [16]:
maintenance_failure.head()

     Asset  failure_bin
0  A003146          0.0
1  A046288          0.0
2  A082667          NaN
3  A115725          1.0
4  A148200          NaN

In [11]:
maintenance_part.head()

     Asset  Time Reason     Part  Quantity
0  A311482     0   R417  P361646         1
1  A174613     0   R707  P991287         1
2  A174613     0   R707  P169319         1
3  A060723     0   R193  P184448         0
4  A174613     0   R707  P097048         1

In [12]:
usage.head()

     Asset  Time           Use
0  A403193     5  31194.652034
1  A403193    17  31223.536355
2  A403193    56  31362.706261
3  A403193   124  31701.440562
4  A403193   144  31724.489666